.alert {
  background-color: #cfe2ff;
  border: 1px solid #b6d4fe;
  color: #084298;
  padding: 1em;
  
  &--success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
  }

  &--danger {
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
  }

  &--warning {
    background-color: #fff3cd;
    color: #664d03;
    border: 1px solid #ffecb5;
  }
}