.socials {

  // .socials__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .socials__item

  &__item {
    &+& {
      margin-left: 12px;
    }
  }

  // .socials__link

  &__link {
    @media(any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }

    img {
      transition: transform .3s;
      width: 25px;
      height: 25px;
    }
  }

}