.admin-services {
  background-image: url("/img/services/bg-service.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 16px;
  padding: 120px 0;

  // .admin-services__title

  &__title {
    max-width: 70%;
    margin: 0 auto;
  }

  // .admin-services__subtitle

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 82px;
    }
  }

  // .admin-services__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 110px 35px;
  }

  // .admin-services__item

  &__item {

  }

  // .admin-services__img

  &__img {
    margin-bottom: 8px;
  }
}

.admin-services-grid {

  // .admin-services-grid__title

  &__title {
    font-weight: 700;
    font-size: rem(18);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .admin-services-grid__text

  &__text {
    font-size: rem(14);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}