.benefits {

  // .benefits__title

  &__title {
    max-width: 80%;
    margin: 0 auto;
  }

  // .benefits__subtitle

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 97px;

			@media(max-width: $breakpoint1200) {
				margin-bottom: 45px;
			}

			@media(max-width: $breakpoint768) {
				margin-bottom: 30px;
			}

			@media(max-width: $breakpoint576) {
				margin-bottom: 41px;
			}
    }
  }
}