.intro {
	padding: 96px 0 56px;
	background-image: url("../img/main-pictures/01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 2;
	margin-bottom: 160px;

	&.blackout {
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: linear-gradient(180deg, #000000 18.47%, rgba(0, 0, 0, 0) 100%);
			bottom: 0;
			top: 0;
			right: 0;
			left: 0;
			z-index: -1;
		}
	}

	@media(max-width: $breakpoint1200) {
		background-position: center;
		padding: 90px 0 56px;
		margin-bottom: 81px;
	}

	// .intro__content

	&__content {
		margin-bottom: 5px;

		@media(max-width: $breakpoint1200) {
			margin-bottom: 59px;
		}

		@media(max-width: $breakpoint768) {
			margin-bottom: 31px;
		}

		@media(max-width: $breakpoint576) {
			margin-bottom: 44px;
		}
	}

	// .intro__title

	&__title {
		font-weight: 600;
		font-size: rem(55);

		@media(max-width: $breakpoint1200) {
			font-size: rem(40);
		}

		@media(max-width: $breakpoint576) {
			font-size: rem(20);
		}

		&:not(:last-child) {
			margin-bottom: 32px;

			@media(max-width: $breakpoint1200) {
				margin-bottom: 22px;
			}

			@media(max-width: $breakpoint576) {
				margin-bottom: 12px;
			}
		}
	}

	// .intro__subtitle

	&__subtitle {
		font-weight: 600;
		font-size: rem(38);
		text-transform: uppercase;

		@media(max-width: $breakpoint1200) {
			font-size: rem(27);
		}

		@media(max-width: $breakpoint768) {
			font-size: rem(20);
		}

		@media(max-width: $breakpoint576) {
			font-size: rem(14);
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .intro__form

	&__form {
		display: flex;
		align-items: center;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

		@media(max-width: $breakpoint576) {
			flex-wrap: wrap;
		}
	}

	// .intro__form-row

	&__form-row {
		display: flex;
		align-items: center;
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 23px;

			@media(max-width: $breakpoint576) {
				margin-bottom: 10px;
			}
		}
	}

	// .intro__input

	&__input {
		padding: 15px 13px;
		text-align: left;

		@media(max-width: $breakpoint992) {
			font-size: rem(13);
		}

		&::placeholder {
			@media(max-width: $breakpoint992) {
				font-size: rem(13);
			}
		}

		@media(max-width: $breakpoint768) {
			height: 48px;
		}

		@media(max-width: $breakpoint576) {
			flex-basis: 48%;
			height: 40px;
			margin-bottom: 11px;
		}

		@media(max-width: $breakpoint360) {
			flex-basis: 100%;
		}

		&+& {
			margin-left: 28px;

			@media(max-width: $breakpoint768) {
				margin-left: 17px;
			}

			@media(max-width: $breakpoint576) {
				margin-left: 13px;
			}

			@media(max-width: $breakpoint360) {
				margin-left: 0;
				margin-top: 11px;
			}
		}
	}

	.btn {
		margin-left: 32px;

		@media(max-width: $breakpoint992) {
			font-size: rem(13);
		}

		@media(max-width: $breakpoint768) {
			margin-left: 12px;
			height: 48px;
		}

		@media(max-width: $breakpoint576) {
			flex-basis: 100%;
			height: 40px;
			margin: 0;
		}
	}

	// .intro__list

	&__list {
		list-style-type: disc;
		margin-left: 30px;

		&:not(:last-child) {
			margin-bottom: 23px;
		}

		li {
			color: $black;
			font-size: rem(20);
			line-height: math.div(32, 20);

			@media(max-width: $breakpoint1200) {
				font-size: rem(16);
			}
		}
	}
}