.services-price {

  &__title {
    max-width: 75%;
    margin: 0 auto;
  }

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 96px;

			@media(max-width: $breakpoint1200) {
				margin-bottom: 86px;
			}

			@media(max-width: $breakpoint768) {
				margin-bottom: 80px;
			}

			@media(max-width: $breakpoint576) {
				margin-bottom: 37px;
			}
    }
  }
}