<div class="tabs" data-tabs="tab">
  <ul class="tabs__list">
    <div class="tabs-list__item"><button class="tabs-list__btn" type="button">Один</button></div>
    <div class="tabs-list__item"><button class="tabs-list__btn" type="button">Два</button></div>
    <div class="tabs-list__item"><button class="tabs-list__btn" type="button">Три</button></div>
  </ul>
  <div class="tabs__content">
    <div class="tabs__panel">Один контент</div>
    <div class="tabs__panel">Два контент</div>
    <div class="tabs__panel">Три контент</div>
  </div>
</div>