<div class="calculator">
  <div class="container calculator__container">
    <div class="filter">
      <div class="filter__item filter__item-1">
        <div class="filter__content-1">
          <div class="filter__between">
            <div class="filter__item-text">Количество пользователей</div>
            <div class="filter__item-number border">10</div>
          </div>
          <div class="filter__range" id="range-countUsers"></div>
          <div class="filter__between">
            <div class="filter__item-number">1</div>
            <div class="filter__item-number">больше 50</div>
          </div>
        </div>
        <div class="filter__content-2">
          <div class="filter__between">
            <div class="filter__item-text">Количество Ваших серверов (включая виртуальные), <br>
              которые нужно администрировать</div>
            <div class="filter__item-number border">10</div>
          </div>
          <div class="filter__range" id="range-countServers"></div>
          <div class="filter__between">
            <div class="filter__item-number">1</div>
            <div class="filter__item-number">больше 50</div>
          </div>
        </div>
      </div>
      <div class="filter__item filter__item-2">
        <div class="filter__item-text">Предоставляем сервер бесплатно (Возможность изменить характеристики)</div>
        <div class="filter__row">
          <div class="filter__name">Ядер CPU (Процессор Xeon)</div>
          <div class="filter-counter">
            <span>2-4 ядра</span>
            <div class="filter-counter__btns">
              <button class="filter-counter__btn">
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 8L7 1L13 8" stroke="#949494" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button class="filter-counter__btn">
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L7 8L13 1" stroke="#949494" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          </div>
          <div class="filter-range">
            <div class="filter__range" id="range-cpu"></div>
            <div class="filter__between">
              <div class="filter__item-number">1</div>
              <div class="filter__item-number">50</div>
            </div>
          </div>
        </div>
        <div class="filter__row">
          <div class="filter__name">Оперативная память (RAM)</div>
          <div class="filter-counter">
            <span>8 Гб</span>
            <div class="filter-counter__btns">
              <button class="filter-counter__btn">
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 8L7 1L13 8" stroke="#949494" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button class="filter-counter__btn">
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L7 8L13 1" stroke="#949494" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          </div>
          <div class="filter-range">
            <div class="filter__range" id="range-ram"></div>
            <div class="filter__between">
              <div class="filter__item-number">8</div>
              <div class="filter__item-number">128</div>
            </div>
          </div>
        </div>
        <div class="filter__row">
          <div class="filter__name">Объем диска SSD / NVME</div>
          <div class="filter-counter">
            <span>120 Гб SSD</span>
            <div class="filter-counter__btns">
              <button class="filter-counter__btn">
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 8L7 1L13 8" stroke="#949494" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button class="filter-counter__btn">
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L7 8L13 1" stroke="#949494" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          </div>
          <div class="filter-range">
            <div class="filter__range" id="range-ssd"></div>
            <div class="filter__between">
              <div class="filter__item-number">120 ГБ</div>
              <div class="filter__item-number">1 ТБ</div>
            </div>
          </div>
        </div>
        <div class="filter__row">
          <div class="filter__name">Количество резервных копий</div>
          <div class="filter-counter">
            <span>7</span>
            <div class="filter-counter__btns">
              <button class="filter-counter__btn">
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 8L7 1L13 8" stroke="#949494" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button class="filter-counter__btn">
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L7 8L13 1" stroke="#949494" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          </div>
          <div class="filter__range" id="range-reserve"></div>
        </div>
      </div>
      <div class="filter__item filter__item-3">
        <div class="filter__flex">
          <div class="filter__item-text">Режим обслуживания</div>
          <div class="filter__choice-grid">
            <label class="filter__choice">
              <input type="radio" name="choice-mode-service">
              <div class="filter__block">Обычний</div>
            </label>
            <label class="filter__choice">
              <input type="radio" name="choice-mode-service">
              <div class="filter__block">Только удаленный</div>
            </label>
          </div>
        </div>
        <div class="filter__flex">
          <div class="filter__item-text">График</div>
          <div class="filter__choice-grid">
            <label class="filter__choice">
              <input type="radio" name="choice-schedule" placeholder="">
              <div class="filter__block">9:00 до 18:00</div>
            </label>
            <label class="filter__choice">
              <input type="radio" name="choice-schedule" placeholder="">
              <div class="filter__block">8:00 до 22:00</div>
            </label>
            <label class="filter__choice">
              <input type="radio" name="choice-schedule" placeholder="">
              <div class="filter__block">24/7</div>
            </label>
          </div>
        </div>
      </div>
      <div class="filter__item filter__item-4">
        <div class="filter__item-text">IT Поддержка</div>
        <div class="filter__choice-grid">
          <label class="filter__choice">
            <input type="radio" name="choice-it-support">
            <div class="filter__block">Удаленный</div>
          </label>
          <label class="filter__choice">
            <input type="radio" name="choice-it-support">
            <div class="filter__block">Стандарт</div>
          </label>
          <label class="filter__choice">
            <input type="radio" name="choice-it-support">
            <div class="filter__block">Расширенный</div>
          </label>
        </div>
      </div>
      <div class="filter__item filter__item-5">
        <div class="filter__choice-grid">
          <label class="filter__choice">
            <input type="radio" name="choice-countComputers">
            <div class="filter__block">
              < 5 ПК</div>
          </label>
          <label class="filter__choice">
            <input type="radio" name="choice-countComputers" class="filter__choice">
            <div class="filter__block">
              < 10 ПК</div>
          </label>
          <label class="filter__choice">
            <input type="radio" name="choice-countComputers" class="filter__choice" disabled>
            <div class="filter__block">
              < 20 ПК</div>
          </label>
          <label class="filter__choice">
            <input type="radio" name="choice-countComputers" class="filter__choice" disabled>
            <div class="filter__block">> 21ПК</div>
          </label>
        </div>
        <button class="btn btn--full filter__btn" type="button">Рассчитать</button>
      </div>
    </div>
    <div class="calculator__info">
      <div class="calculator__info-1">Ориентировочная стоимость</div>
      <div class="calculator__info-2"><span>15 000</span></div>
      <button class="btn btn--full" type="button" data-path="sendKP" data-animation="fadeInUp" data-speed="400">Отправить КП</button>
      <div class="calculator__info-3">Нужна помощь?</div>
      <div class="calculator__info-4">
        <p>Звоните ежедневно
          с 8.00 до 20.00</p>
        <div class="calculator__info-4-row">
          <div>
            <img src="@img/phone.svg" alt="Иконка телефона">
          </div>
          <div>
            <a href="#">+38 (044)232-06-03</a>
            <a href="#">+38 (067)701-06-03</a>
          </div>
        </div>
      </div>
      <div class="calculator__info-5">
        <p>Или напишите нам в мессенджере:</p>
        <ul class="socials__list">
          <li class="socials__item"><a href="#" class="socials__link"><img src="img/socials/telegram.svg" alt=""></a>
          </li>
          <li class="socials__item"><a href="#" class="socials__link"><img src="img/socials/whatapp.svg" alt=""></a>
          </li>
          <li class="socials__item"><a href="#" class="socials__link"><img src="img/socials/viber.svg" alt=""></a>
          </li>
          <li class="socials__item"><a href="#" class="socials__link"><img src="img/socials/email.svg" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>