<footer class="footer">
  <div class="container footer__container">
    <div class="footer__item">
      <div class="footer__title">Контакты</div>
      <div class="footer__phones">
        <a href="#">+38 (044) 232-06-03</a>
        <a href="#">+38 (067) 701-06-03</a>
        <a href="#">+38 (044) 232-06-03</a>
      </div>
      <address class="footer__address">Киев, 03067
        ул. Машиностроительная 42</address>
      <a href="#" class="footer__map">
        <img src="@img/google-maps.svg" alt="Google map">
        Google Maps
      </a>
      @@include("./socials.html")
    </div>
    <div class="footer__item">
      <div class="footer__title footer__title--center">Услуги и разделы</div>
      <ul class="footer__list">
        <li class="footer-list__item"><a href="#" class="footer-list__link">Услуги</a></li>
        <li class="footer-list__item"><a href="#" class="footer-list__link">Цены</a></li>
        <li class="footer-list__item"><a href="#" class="footer-list__link">Статьи</a></li>
        <li class="footer-list__item"><a href="#" class="footer-list__link">Скачать</a></li>
        <li class="footer-list__item"><a href="#" class="footer-list__link">О нас</a></li>
      </ul>
    </div>
    <div class="footer__item">
      <div class="footer__title footer__title--center">Заказать звонок</div>
      <form>
        <input type="text" placeholder="Телефон" class="footer__input">
        <button class="btn btn--blue btn--sm btn--full">Позвоните</button>
      </form>
      <a href="#" class="footer__link">Политика конфиденциальности</a>
    </div>
  </div>
</footer>