<!-- #1 -->

<div class="card">
  <div class="card__img">
    <img src="" alt="">
  </div>
  <div class="card__body">
    <div class="card__content">
      <h3 class="card__title">Lorem, ipsum dolor.</h3>
      <div class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eos veniam laudantium
        quam, libero quis aliquam accusantium dignissimos nisi, incidunt corporis quibusdam, error repudiandae
        perspiciatis.</div>
    </div>
    <a href="#" class="btn card__btn">Кнопка</a>
  </div>
</div>

<!-- #2 -->
<div class="card">
  <h2 class="card__title">Lorem, ipsum dolor.</h2>
  <div class="card__content">
    <div class="card__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, nostrum aliquid. Quos hic aperiam cupiditate quod, nulla repudiandae molestias quibusdam beatae rerum? Nulla, rem a!
    </div>
    <a href="#" class="card__btn">Подробнее</a>
  </div>
</div>