.modal {
  --transition-time: 0.3s;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all var(--transition-time);

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__box {
    position: relative;
    max-width: 1000px;
    margin: 50px auto;
    display: none;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 20px;
    cursor: default;
    text-align: left;
    transition: all var(--transition-time);

    &--active {
      display: inline-block;
    }
  }

  &__close {}

  &__content {}
}

.fade {
  opacity: 0;
  transition: opacity var(--transition-time);
}

.fade.animate--active {
  opacity: 1;
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-100px);
  transition: all var(--transition-time);
}

.fadeInUp.animate--active {
  opacity: 1;
  transform: translateY(0);
}