.btn {
  display: inline-block;
  cursor: pointer;
  background-color: $red;
  padding: em(18, 18);
  border-radius: 25px;
  font-weight: 600;
  font-size: rem(18);
  color: #fff;
  transition: background-color .3s, color .3s;
  outline: none;
  border: none;

  &__sm {
    padding: em(10, 18);
  }

  &--blue {
    background-color: #073465;
    border: 1px solid #FFFFFF;
  }

  &:hover {
    background-color: darken(#3F51B5, 10%);
  }

  &-group {
    display: flex;
  }

  &--full {
    width: 100%;
  }
}