@use 'sass:math';

@import "modules/config";

@import "modules/functions";

@import "modules/mixins";

// Animations

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

// Masks
.transparency {
	position: relative;
	z-index: 5;

	&::before {
		content: '';
		background: rgba(240, 240, 240, 0.83);
		width: 100%;
		height: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&-lg {
		&::before {
			background: rgba(240, 240, 240, 0.90);
		}
	}
}

/*
-------Reset----------
*/

@import "modules/reset";

/*
-------Fonts----------
*/

@import "fonts";

/*
----------Base-------------
*/

@import "modules/base";

/*
---------Header-----------
*/

@import "components/header";

// UI

@import "UI/burger";
@import "UI/form";
@import "UI/button";
@import "UI/link";
@import "UI/arrow";

// Components
@import "components/socials";
@import "components/breadcrumb";
@import "components/pagination";
@import "components/card";
@import "components/table";
@import "components/calculator";

// Sections
@import "sections/intro";
@import "sections/benefits";
@import "sections/services-price";
@import "sections/blog-info";
@import "sections/want";
@import "sections/includes";
@import "sections/decide";
@import "sections/included";
@import "sections/admin-services";
@import "sections/questions";
@import "sections/system";
@import "sections/stages";
@import "sections/guarantee";
@import "sections/why";
@import "sections/fag";
@import "sections/who";
@import "sections/tarifs";
@import "sections/partial-included";
@import "sections/offer";
@import "sections/stages-number";
@import "sections/kinds";

// Pages
@import "pages/home";
@import "pages/services";
@import "pages/contacts";
@import "pages/about";
@import "pages/articles";
@import "pages/article";

// Dark Intro

.dark-intro {
	.intro {
		color: $white;
	}

	.header {
		color: $white;

		.arrow::after {
			background-color: $white;
		}
	}

	.burger {

		&::before,
		&::after,
		span {
			background-color: #fff;
		}
	}
}

/*
---------Main-----------
*/

.main {
	flex: 1 1 auto;
}

/*
---------Footer-----------
*/

@import "components/footer";